<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<header id="header" class="">
		<div>
			<a href="/contacto">Ir a contactos</a>
		</div>
	</header><!-- /header -->
	<form action="" method="POST">
		 {% csrf_token %}
		nombre <input type="text" name="nombre"><br>
		apellido <input type="text" name="apellido"><br>
		nacionalidad <input type="text" name="nacionalidad"><br>
		edad <input type="text" name="edad"><br>

		<input type="submit" name="" value="Enviar">
	</form>
</body>
</html>